<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Packard</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <style>
            .green-shape {
                width: 300px;
                height: 100vh;
                background: #6bb84f;

                clip-path: path(
                    "M 0,0 L 0,980 L 53,980 L 50,500  45,470  40,450 L 30,390 L 30,0 Z"
                );
            }
        </style>
    </head>
    <body>
        <section
            class="max-w-[800px] relative py-4 mx-auto h-[980px] overflow-hidden"
        >
            <div class="absolute top-0 left-0 bg-green-700 green-shape"></div>
            <!-- <div
                class="w-40 h-screen bg-green-500 [clip-path:path('M_0%_0%_L_100%_0%_Q_85%_35%_100%_50%_Q_115%_75%_100%_100%_L_0%_100%_Z')]"
            ></div> -->
            <header class="flex items-center px-5 justify-between">
                <div class="flex items-center gap-2 pl-10">
                    <div class="p-0.5 border w-fit rounded-full">
                        <span
                            class="bg-[#1C0770] p-1 w-10 h-10 flex items-center justify-center text-sm rounded-full py-1 text-white"
                            >www</span
                        >
                    </div>

                    <h1 class="text-lg font-medium text-[#1C0770]">
                        packardbd.com
                    </h1>
                </div>
                <img class="w-80" src="{{ asset('invoice/assets/logo.png') }}" alt="packard logo" />
            </header>
            <main class="">
                <div class="absolute -right-50 top-40">
                    <img
                        class="opacity-8 w-130"
                        src="{{ asset('invoice/assets/background.png') }}"
                        alt="page background"
                    />
                    <div class="absotule right-5 top-40">
                        <img
                            src="{{ asset('invoice/assets/dotted-background.jpg') }}"
                            alt="bg"
                            class="absolute top-0 -rotate-90 opacity-20 scale-120 w-400 h-140 object-cover"
                        />
                    </div>
                </div>
            </main>
            <footer class="absolute bottom-5 left-10">
                <div class="flex items-center gap-2 w-screen">
                    <div class="w-5 ml-3 border-t-2 border-[#1C0770]"></div>
                    <h1 class="print:w-65 w-53 font-semibold text-[#1C0770]">
                        Packard Engineering Ltd.
                    </h1>
                    <div class="w-full border-t-2 border-[#1C0770]"></div>
                </div>
                <div class="flex flex-col space-y-1 mt-2">
                    <div class="flex items-center gap-2">
                        <div
                            class="bg-[#1C0770] p-1 rounded-full border-2 border-gray-500"
                        >
                            <img
                                src="{{ asset('invoice/assets/telephone.png') }}"
                                class="w-3 invert-100"
                                alt="telephone"
                            />
                        </div>
                        <p class="text-sm">
                            +880172837468763, +88016398473984, +88018298374987
                        </p>
                    </div>
                    <div class="flex items-center gap-2">
                        <div
                            class="bg-[#1C0770] p-1 rounded-full border-2 border-gray-500"
                        >
                            <img
                                class="w-3 invert-100"
                                src="{{ asset('invoice/assets/email.png') }}"
                                alt="email"
                            />
                        </div>
                        <p class="text-sm">
                            info@packardbd.com, packardengineeringltd@gmail.com
                        </p>
                    </div>
                    <div class="flex items-center gap-2">
                        <div
                            class="bg-[#1C0770] p-1 rounded-full border-2 border-gray-500"
                        >
                            <img
                                src="{{ asset('invoice/assets/location.png') }}"
                                class="w-3 invert-100"
                                alt="location"
                            />
                        </div>
                        <p class="text-sm">
                            Sabbir Tower (8th Floor), Suite #2343, Purana
                            Paltan, Dhaka-1000, Bangladesh
                        </p>
                    </div>
                </div>
            </footer>
        </section>
    </body>
</html>
